<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{ constant('URL') }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ metaTitle }}</title>
  <meta name="description" content="{{ metaDescription }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ metaTitle }}">
  <meta property="og:description" content="{{ metaDescription }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ constant('URL') }}">
  <meta property="og:image" content="{{ constant('URL') }}img/fb_icon.png">
  <meta property="og:site_name" content="mosufy/php-mvc">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="favicon.ico" rel="icon" type="image/ico">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/carousel.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
</head>
<body>

  {% include '_templates/header.twig' %}

  {% block content %} {% endblock %}

  {% include '_templates/footer.twig' %}

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/retina.min.js"></script> 

</body>
</html>